<!DOCTYPE html>
<html>
<head>
    <title>Medical Treatment</title>
    <link rel="stylesheet" href="../css/main.css" type="text/css">
    <link rel="stylesheet" href="../css/main.css" type="text/css">
    <script type="text/javascript" src="../js/jquery-1.9.0.min.js"/>
    <script type="text/javascript" src="../js/jquery.jqGrid-4.4.4/jquery.jqGrid.min.js"/>
    <script type="text/javascript" src="../js/jquery.jqGrid-4.4.4/i18n/grid.locale-cn.js"/>
    <script type="text/javascript" src="../js/index.js"/>
</head>
<body>
    <div>
        <div class="head" id="head"></div>
        <div class="dataContainer" id="dataContainer">
            <
        </div>
    </div>
</body>
</html>